# Bỏ qua thư mục node_modules của frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Bỏ qua các file Python ở ngoài nếu cần
__pycache__/
*.pyc

# Bỏ qua file chứa key bảo mật
firebase-key.json

API.md
ARCHITECTURE.md
PROJECT.md
ISSUES_AND_GAPS.md
.env